.background    { background: rgb(27, 27, 27);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(255, 60, 60); }
.wall          { background: white;   }

.actor  { position: absolute;  }
.coin   { background: yellow; }
.player { background: rgb(157, 255, 193); }
.sticky { background: rgb(163, 255, 51); }
.bounce { background: rgb(240, 0, 240); }
.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(250, 100, 100);
}
.won .player {
  box-shadow: -4px -7px 8px yellow, 4px -7px 8px yellow;
}
